p.styleRed {
  border-radius: 10px;
  color: red;
  border: 5px solid red;
  font-family: courier;
  padding: 10px;
  margin: 10px;
  width: 180px;
  text-align: center;
}

.button {
    color: red
    font-size: 20px;
    border: 5px solid red;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
